.custumnavbar .profilelogo {
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
}
.logo {
  height: 40px !important;
  width: 218px !important;
}

@media (max-width: 576px) {
  .custumnavbar a#basic-nav-dropdown {
    text-align: center !important;
  }
}
